@import "../../colors";

div.breadcrumb-container {
  font-size: 14px;
  margin: 16px 0px;

  span {
    font-size: 14px;
    margin: 0px 10px;
    color: $gray;
    transition: 100ms ease-in-out;

    &:last-child {
      font-weight: bold;
    }

    &:hover {
      color: $darkgray;
      cursor: pointer;
      transition: 150ms ease-in-out;
    }
  }
}
